# ===================================================
#  BlackSpeak TeamSpeak 3 Suite Configuration
# ===================================================

# Suite & Plugin Version (SemVer format: X.Y.Z)
PLUGIN_VERSION=1.2.2

# Auto-Update Metadata URL (Direct raw JSON link)
UPDATE_URL=https://raw.githubusercontent.com/TheBx123/BlackSpeak/main/version.json
