# Environment local overrides (Keep local secrets private)
.env
.env.local
*.env

# Compiled Object and Library files
*.obj
*.exp
*.lib
*.pdb
*.ilk

# Temporary / Scratch files
scratch/
*.tmp
*.temp
__pycache__/

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store
